
div.RepoList {
  width: 400px;
  margin: auto;
}

div.RepoList ul {
  display: table;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin: 8px;
  padding: 0px;
}


.RepoList li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  display: table-row;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.RepoList li:last-child {
  border: none;
}

.RepoList a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 400px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.RepoList li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.RepoList label {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  display: table-row;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.RepoList input {

}
